.Footer-Section {
    background-image: url(./../../../../public/Black\ And\ Green\ Simple\ Travel\ Banner\ Landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.TopHeader{
    background-image: url(./../../../../public/assets/Black\ And\ Blue\ Simple\ Travel\ Banner\ Landscape.png);
    background-repeat: no-repeat;
    background-size: fill;
}

